.avatar-wrapper {
    width: 270px;
    height: 270px; 
    overflow: hidden;
}
  
.avatar {
    width: 100% !important;
    height: 100% !important;
    max-width: unset !important;
    object-fit: cover; 
    transform: none; 
}