.wg-about-avatar .avatar {
    width: 100% !important;
    height: 100% !important;
    max-width: unset !important;
}
  
.wg-about-avatar .avatar-wrapper {
    width: 350px !important;
    height: 350px !important;
}