.avatar-wrapper {
    width: 225px;
    height: 225; 
    overflow: hidden;
}
  
.avatar {
    width: 100% !important;
    height: 100% !important;
    max-width: unset !important;
    transform: none; 
}